<div class="container">
  <!-- Content here -->
  <form_for>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>
</div>
<div class="form-row">
<%= form_for @question do |f| %>
  <div class="col">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="col">
    <%= f.label :description %><br />
    <%= f.text_area :description, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Send Question" %>
  </div>
<% end %>
  </div>