<div class="container">
  
  <% if @errors %>
    <% @errors.each do |error| %>
     <ul class= "errors">
       <li><%= error %></li>
     </ul>
    <% end %>
  <% end %>
  
  <div class="form-row ">
  <%= form_for @question do |f| %>
    <div class="col">
      <%= f.label :title %><br />
      <%= f.text_field :title, class:"form-control", autofocus: true %>
    </div>

    <div class="col">
      <%= f.label :description %><br />
      <%= f.text_area :description, class:"form-control", autocomplete: "off" %>
    </div>

    <div class="actions" style="margin-top:50px;float:right">
      <%= f.submit "Send Question"  %>
    </div>
  <% end %>
  </div>
</div>
