

<h1>Aca es show</h1>
<div class="container show">
  <h1><%=@question.title%></h1>
  <p class="description"><%=@question.description%></p>
  <%@question.comments.each do |comment|%>
    <p><%comment.description%></p>
  <%end%>
  <div class="answer">
    <%@question.answers.each do |answer|%>
      <h1><%=answer.description%></h1>
      <%answer.comments.each do |comment|%>
      <p><%=answer.comments.description%></p>
    <%end%>
    <%end%>
  </div>
</div>


<div class="form-row ">
<%= form_for @answer do |f| %>
  <div class="col">
    <%= f.label :Youranswerhere%><br />
    <%= f.text_area :description, class:"form-control", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Put answer"  %>
  </div>
<% end %>
  </div>
</div>
