<div class="container">
  <div class="btn-all">
    <%if current_user == @question.user%>
      <div class="btn-edit">
        <%=link_to "Edit Question",edit_question_path(@question.id)%>
      </div>
    <% end %>

    <div class="btn-question">
      <%=link_to "Ask Question" , new_question_path%>
    </div>
  </div>

    <div class ="emailandcreated">
      <h5>User: <%= @question.user.email %></h5>
      <h5>Created: <%= @question.created_at %></h5>
    </div>
    <h1><%=markdown(@question.title)%></h1>


  <div class="description">
  <p><%= markdown(@question.description)%></p>
  </div>
  <% if (@errors_comment_que) %>
      <% @errors_comment_que.each do |error| %>
        <ul class= "errors">
          <li><%= error %></li>
        </ul>
      <% end %>
    <% end %>

    <% if @errors_votes_q %>
     <p> <%= @errors_votes_q %></p>
    <% end %>

<%if current_user%>
  <div class="votes">
    <div class="">
      <%= form_for [@question, @question.votes.new] do |f| %>
      <%= f.hidden_field  :type, value: "sum"%>
      <%= f.submit "Vote +" %>
      <% end %>
    </div>
<% end %>

  <p>Votes = <%=  @question.votes.count%></p>

<%if current_user%>
    <div class="">
      <%= form_for [@question, @question.votes.new] do |f| %>
      <%= f.hidden_field  :type, value: "rest" %>
      <%= f.submit "Vote -" %>
      <% end %>
    </div>
  </div>
<% end %>

  <h5> Total comments: <%=  @question.comments.count%></h5>

  <%@question.comments.each do |comment|%>
  <div class="allcomments">
    <div class="commentdescription">
      <p><%=markdown(comment.description)%></p>
    </div>
    <div class= "commentsmail">
      <p>User:<%=comment.user.email%></p>
      <p>Creaded:<%=comment.created_at%></p>
    </div>
  </div>
  <%end%>

  <% if user_signed_in? %>

    <div class="form-row ">
        <%= form_for [@question, @question.comments.new] do |f| %>

      <div class="col">
        <%= f.label :"Give us a comment" %><br />
        <%= f.text_area :description, class:"form-control", autocomplete: "off" %>
      </div>

      <div class="send">
        <%= f.submit "Send Comment Question" %>
      </div>
    <% end %>
    </div>
   <% end %>

  <div class="answer">
    <% if (@errors_comment_ans) %>
      <% @errors_comment_ans.each do |error| %>
        <ul class= "errors">
          <li><%= error %></li>
        </ul>
      <% end %>
    <% end %>

    <%@question.answers.each do |answer|%>
      <div class="answer_2">
          <h1><%=markdown(answer.description)%></h1>
        <div class="inline">
          <p>User:<%=answer.user.email%></p>
          <p>Created<%=answer.created_at%></p>
        </div>
      </div>


      <% if @errors_votes_a %>
       <p> <%= @errors_votes_a %></p>
      <% end %>

      <div class="btn-votes">
        <%if current_user%>
          <div class= "votes">
            <%= form_for [answer, answer.votes.new] do |f| %>
            <%= f.hidden_field  :type, value: "sum"%>
            <%= f.submit "Vote +" %>
            <% end %>
          </div>
        <% end %>
        <p>Votes = <%=  answer.votes.count%></p>

        <%if current_user%>
          <div class= "votes">
            <%= form_for [answer, answer.votes.new] do |f| %>
            <%= f.hidden_field  :type, value: "rest" %>
            <%= f.submit "Vote -" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%answer.comments.each do |comment|%>
      <div class = "comments">
        <p><%=markdown(comment.description)%></p>
      </div>
        <div class="inline">
          <p><%= comment.user.email %></p>
          <p><%= comment.created_at %></p>
        </div>
      <%end%>

      <% if user_signed_in? %>
            <div class="form-row ">
              <%= form_for [answer, answer.comments.new] do |f| %>
                <div class="col">
                  <%= f.label :"Post your comment" %><br />
                  <%= f.text_area :description, class:"form-control", autocomplete: "off" %>
                </div>

                <div class="send">
                  <%= f.submit "Send Comment Answer" %>
                </div>
              <% end %>
              </div>
        <%end%>
    <%end%>
  </div>

  <% if @errors_answer %>
    <% @errors_answer.each do |error| %>
     <ul class= "errors">
       <li><%= error %></li>
     </ul>
    <% end %>
  <% end %>


  <% if user_signed_in? %>
  <div>
    <div class="form-row ">
      <%= form_for [@question, @question.answers.new] do |f| %>
      <div class="col">
        <%= f.label :"Post your answer" %><br />
        <%= f.text_area :description, class:"form-control", autocomplete: "off" %>
      </div>
      <div class="send">
        <%= f.submit "Send Answer" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <%if current_user == @question.user%>
    <div class="btn-delete">
      <button><%=link_to "Delete Question" , question_path(@question.id), method:"delete"%></button>
    </div>
  <%end%>
</div>
