<!DOCTYPE html>
<html>
  <head>
    <title>SuperFlowStack</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
        <% if user_signed_in? %>
        <nav class="navbar navbar-light bg-light">
          <a href="/questions"><img src="/img/stack.png" class="logo rounded float-left" ></a>
          <%=form_tag questions_path, method:"GET", id: "search" do%>
            <%= text_field_tag :query %>
            <%= submit_tag "search" %>
          <% end %>
          <a class="navbar-brand" href="/"> hola! <%= User.find_by(id: [current_user.id]).email%></a>
          <button class="btn btn-outline-success" type="button"><%=  link_to "Sign out!",destroy_user_session_path, :method => 'delete'
          %></button>
        </nav>
        <% else  %>
        <nav class="navbar navbar-light bg-light">
            <a href="/questions"><img src="/img/stack.png" class="logo rounded float-left" ></a>
            <button class="btn btn-outline-success" type="button"><a href="<%= new_user_session_path %>">Log In</a></button>
            <button class="second btn btn-outline-success" type="button"><%=  link_to "Sign Up", new_user_registration_path%></button>
          <%=form_tag questions_path, method:"GET", id: "search" do %>
            <%= text_field_tag :query %>
            <%= submit_tag "search" %>
          <% end %>
        </nav>
        <% end %>
    	<%= yield %>
    </div>
  </body>
</html>
