<!DOCTYPE html>
<html>
  <head>
    <title>SuperFlowStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
    <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;padding:10px">
      <a href="/questions"><img src="/img/stack.png" class="logo rounded float-left" ></a>

      <%=form_tag questions_path, method:"GET", id: "search" do%>
        <%= text_field_tag :query %>
        <%= submit_tag "search_new" %>
      <% end %>
      <form class="form-inline">
        <button class="btn btn-outline-success" style="margin-left:1110px; display:inline;" type="button"><%=  link_to "Sign out!",destroy_user_session_path, :method => 'delete'
        %></button>
      </form>
      <!-- Navbar content -->
    </nav>
    <% else  %>
    <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;padding: 10px;">
      <a href="/questions"><img src="/img/stack.png" class="logo rounded float-left" ></a>
      <%=form_tag questions_path, method:"GET", id: "search" do %>
        <%= text_field_tag :query %>
        <%= submit_tag "search_new" %>
      <% end %>
      <form class="form-inline">
        <!-- <input class="form-control mr-sm-2" style="margin-left:330px;padding:0px 50px;" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <button class="btn btn-outline-success" style="margin-left:980px" type="button"><a href="<%= new_user_session_path %>">Log in</a></button>
        <button class="btn btn-outline-success" type="button"><%=  link_to "Sign in!", new_user_registration_path%></button>
      </form>
      <!-- Navbar content -->
    </nav>
    <% end %>
  	<%= yield %>
  </body>
</html>
